.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
}

.label {
  margin-bottom: 30px;
}

.btnAdd {
  width: 100px;
  background: rgb(51, 85, 139);
  color: rgb(223, 223, 223);
  border: none;
}

.input {
  margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
